<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Book Store</title>
  <link rel="stylesheet" href="/assests/css/style.css"/>
</head>
<body>

<nav class="navbar">
  <a href="/" class="nav-logo">Book Store</a>
  <a href="/add" class="nav-btn">+ Add Book</a>
</nav>