<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Movie App</title>
  <!-- font css -->
  <link rel="stylesheet" href="/assets/css/fonts.css">
  <!-- Custom css -->
  <link rel="stylesheet" href="/assets/css/index.css" />
</head>

<body>

  <%- include('header') %>
    <main>
      <!-- Hero-Banner -->
      <section class="pt-120 hero-banner flex justify-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="hero-content flex justify-center">
                <h1>Unlimited movies, shows, and more</h1>
                <h3>Starts at ₹149. Cancel at any time.</h3>
                <p>Ready to watch? Enter your email to create or restart your membership.</p>

                <div class="get-started-btn flex justify-center">
                  <input type="email" placeholder="Email address" />
                  <button>Get Started</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- trending -->
      <section class="trending py-120">
        <div class="container">
          <h2>Trending Now</h2>

          <div class="row">
            <% movies.forEach((movie, index)=> { %>
              <div class="col-3">
                <div class="movie-card">
                  <a href="/movieDetails/<%= movie._id %>">
                    <img src="/assets/uploads/<%= movie.image %>" />
                  </a>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
      </section>
    </main>

    <%- include('footer') %>

</body>

</html>