<%- include('header') %>
    <div class="container-fluid page-body-wrapper">
        <%- include('sidebar') %>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                </div>
                <%- include('footer') %>